<!-- 
{% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}

    // backend Code 

    {% if request.user.is_authenticated %}
         <a href="{% url 'logout' %}">Logout</a>
        <p> {{ request.user.username }}</p>
    {% else %}
    
    <a href="{% url 'login' %}">
        <img src="static/images/user.png"></img>
    </a>
    <a href="{% url 'register' %}">
        <img src="static/images/sign.png">
    </a>
    {% endif %}

{% load static%} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <title>Kirana</title>
    <link rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    
    <div id="navbar">
        <div id="title">
            <a href="{% url 'home' %}">
                <img src="static/images/logo/kirana.png">
            </a>
        </div>
        <div id="options">
            

            {% if request.user.is_authenticated %}
            <div id="logout">
                <a href="{% url 'logout' %}">
                    <img src="static/images/icons/logout.png" alt="" srcset="">
                </a>
                
            </div>
            <div id="profile">
                <img src="static/images/icons/profile.png" alt="" srcset="">
                <p>
                    {{ request.user.username }}
                </p>
            </div>
            {% else %}
            
            <a href="{% url 'login' %}">
                <img src="static/images/icons/log.png"></img>
                <!-- <p>login</p> -->
            </a>
            <a href="{% url 'register' %}">
                <img src="static/images/icons/sign.png">
                <!-- <p>register</p> -->
            </a>
            
            <a href="{% url 'login' %}">
                <img src="static/images/icons/contact.png"></img>
                <!-- <p>login</p> -->
            </a>
            {% endif %}
            
    
        </div>
    </div>

    <div id="intro">
        <h1> What are we ?</h1>

        <p> We are the group of individuals dedicated to provide you quality products .</p>
        <button>See More</button>

    </div>

    <div id="outer_product_box">
        <h2>Products</h2>
        <div id="inner_product_box">

            <div class="product_category" id="category_1">

                <div id="inner_category">
                    <a href="{% url 'home' %}">

                        <img src="static/images/product/category/shirts.jpg">
                        <!-- <button>View</button> -->
                        <h2>Shirts</h2>

                    </a>
                </div>
            </div>

            <div class="product_category" id="category_2">
                
                <div id="inner_category">
                    <a href="{% url 'home' %}">
                        
                        <img src="static/images/product/category/pants.jpg">
                        <!-- <button>View</button> -->
                        <h2>Pants</h2>

                    </a>
                    
                </div>
                
            </div>

            <div class="product_category" id="category_3">
                
                <div id="inner_category">
                    <a href="{% url 'home' %}">
                        <img src="static/images/product/category/tshirt.jpg">
                        <!-- <button>View</button> -->
                        <h2>T-shirts</h2>
                    </a>
                </div>
            </div>

            <div class="product_category" id="category_4">

                <div id="inner_category">
                    <a href="{% url 'home' %}">
                        <img src="static/images/product/category/shoes.jpg">
                        <!-- <button>View</button> -->
                        <h2>T-shirts</h2>
                    </a>
                </div>
            </div>

            <div class="product_category" id="category_5">

                <div id="inner_category">
                    <a href="{% url 'home' %}">
                        <img src="static/images/product/category/bag.jpg">
                        <!-- <button>View</button> -->
                        <h2>T-shirts</h2>
                    </a>
                </div>
            </div>

            <div class="product_category" id="category_6">
                
                <div id="inner_category">
                    <a href="{% url 'home' %}">
                        <img src="static/images/product/category/cap.jpg">
                        <!-- <button>View</button> -->
                        <h2>T-shirts</h2>
                    </a>
                </div>
            </div>

        </div>
    </div> 


    <div id="footer">
        <div id="innerfooter">
        </div>
    </div>

</body>
</html>